Port 22
PasswordAuthentication no
KbdInteractiveAuthentication no
PubkeyAuthentication yes
PermitRootLogin no
AllowTcpForwarding yes
AcceptEnv CLAUDE_CONFIG_DIR ANTHROPIC_BASE_URL ANTHROPIC_API_KEY
UsePAM no
Subsystem sftp /usr/lib/openssh/sftp-server
